@import "bourbon"
@import "vars"
@import "libs"

//Custom styles here
//header
li , .myPage-articl .top-articl-info
	position: relative
	&.search
		.submenu
			&:before
				right: 55px
			right: -45px
			width: 500px!important
			padding: 8px
			box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)
			input
				width: 100%
				border: none
				box-shadow: none
				font-size: em(15px)
				line-height: em(16px)
				font-weight: 400
				color: #000
			button
				border: none
				box-shadow: none
				background-color: #d7f0b4
				+mt(.5s)
				&:hover
					background-color: darken(#d7f0b4 , 10%)
				i 
					margin-top: 3px
					color: #fff
					font-size: 25px
	&.basicLink
		.submenu
			width: 90px
			li
				&:last-of-type
					a 
						border-bottom: 1px solid transparent
				a  
					border-top: 1px solid transparent
					border-bottom: 1px solid transparent
					background-color: #fff
					&:hover
						border-top: 1px solid #bcda93
						border-bottom: 1px solid #bcda93
						background-color: #d7f0b4	
		&:hover
			.submenu
				display: block
	&.settings
		&:hover
			.submenu
				display: block
	.submenu
		display: none
		z-index: 9
		width: 200px
		right: 15px
		background-color: #fff 
		padding-top: 8px
		padding-bottom: 8px
		padding-left: 0
		padding-right: 0
		list-style-type: none
		position: absolute
		a:link 
			color: #000!important
			text-decoration: none
		a:focus
			color: #000!important	
		.second-submenu
			list-style-type: none
			padding: 0
			margin: 0
			li 
				&:first-of-type
					a 
						border-top: 1px solid #bcda93
				a 
					background-color: #dfe1e0
					border-top: none
					border-bottom: 1px solid #ccc
				&:last-of-type
					a 
						border-bottom: none
		li 
			display: block
			&:last-of-type
				a 
					border-bottom: 1px solid #bcda93
			a 
				padding: 7px 30px
				border-top: 1px solid #bcda93
				background-color: #d7f0b4			
				color: #000
				font-size: em(12px)
				line-height: em(16px)
				font-weight: 400
				display: block
				&:hover
					text-decoration: none
					background-color: darken(#d7f0b4 , 5%)
					color: #000!important
					i 
						color: #000!important
				i 
					position: absolute
					left: 10px
					top: 5px
					font-size: 15px
					margin-right: 8px
					color: #4b543f
				.arrow
					left: auto
					right: 10px
					color: #95aa84
		&:before
			position: absolute
			top: -20px
			right: 0px
			content: ''
			z-index: 10
			width: auto
			height: auto
			border: 10px solid transparent
			border-bottom: 10px solid #fff!important


.page-header
	margin-bottom: 20px
.wrap
	font-family: "RobotoRegular" , $helvetica
	overflow-y: auto
	padding-bottom: 25px
	.fullpage
		padding: 60px 15px 0

.button
	padding: 8px 60px
	color: #fff
	background-color: #79513f
	font-size: em(18px)
	font-weight: 400
	line-height: 12px
	font-family: "RobotoMedium" , $helvetica
	text-align: center
	display: inline-block
	+mt(.5s)
	&:hover
		color: #79513f
		background-color: #fff
		text-decoration: none


.icons-nav
	li 
		a 
			+mt(.5s)
			outline: none
			font-weight: bold
			color: #627455!important
			font-size: em(20px)
			&:link
				color: #ffe600
			&:focus
				color: #ffe600				
			&:hover 
				color: #e8eae6!important
				i 
					color: #e8eae6
			&.active
				color: #ffe600!important			
				i 
					color: #ffe600
			span 
				font-size: em(13px)		
			i 
				font-size: 16px
				color: #627455
				+mt(.5s)

.register
	display: none

.top-logo 
	display: flex
	align-items: center
	justify-content: center
	img
		margin-right: 15px
.panel-heading 
	.btn-right
		opacity: 1
		background-color: transparent

.panel-heading.flex.brown
	background-color: #79513f
	.more
		font-weight: normal
		margin-left: 0
		margin-right: 50px
.aboutPr
	.panel 
		background: transparent
	.panel-heading
		margin-bottom: 0
		margin-top: 0!important
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)
	#about-text
		background-color: #fff
		color: #414042
		font-weight: 400
		font-size: em(16px)
		padding-top: 20px
		line-height: em(15px)
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)
		p 
			font-family: "RobotoRegular" , $helvetica
		.strong
			font-family: "RobotoMedium" , $helvetica
			font-size: em(17px)
			line-height: em(16px)
		.strongB
			font-family: "RobotoMedium" , $helvetica
			font-weight: 600

.alert.alert-danger
	color: #fff!important
	p 
		margin: 0
.mail
	a 
		color: #fff!important	
		i 
			margin-left: 10px
			font-size: 20px

.navbar
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);				
.icons-nav
	li 
		a 
			i 
				font-size: 20px
.navbar-top
	margin-bottom: 0

.admin-page
	// box-shadow: 0 3px 7px rgba(0,0,0,.5)
	.wrap-block
		padding: 15px 25px
	.hide-block
		display: none
		padding: 0
	.vision-block
		display: block
		padding: 0
	.first
		background-color: #e1dfbc
		padding: 0
		.wrap-block
			.img-wrapper
				float: left
				margin-right: 15px
				height: 47px
				line-height: 47px
			span
				float: left
				color: #a8997c
				font-weight: bold
				font-size: 13px
				font-weight: normal
				line-height: 1.3
				height: 47px
				display: flex
				align-items: center
				text-transform: uppercase
		.direction
			text-align: right
			p.arr
				background: url(../img/admin-page/Arrow-Down.png) no-repeat 90% center
				cursor: pointer
				float: right
				height: 21px
				width: 15px
			p.arr-down
				background: url(../img/admin-page/Arrow-Down.png) no-repeat 90% center
				cursor: pointer
				float: right
				height: 21px
				width: 15px
			p.arr-up
				display: none
				background: url(../img/admin-page/Arrow-Up.png) no-repeat 90% center
				cursor: pointer
				float: right
				height: 21px
				width: 15px
			p.add-height
				height: 0
				margin: 0
			// img
			// 	margin-right: 10px
			// 	cursor: pointer
	.second
		padding: 0
		background-color: #c5be9e
		.over-wrap
			overflow-x: hidden
			overflow-y: auto
		#scrollbar::-webkit-scrollbar
			width: 4px
			background-color: #F5F5F5

		#scrollbar::-webkit-scrollbar-thumb
			background-color: #e1dfbc
			border: 2px solid #e1dfbc
		.wrap-block
			.img-wrapper
				float: left
				margin-right: 15px
				height: 47px
				line-height: 47px
			span
				float: left
				color: #35332a
				font-weight: bold
				font-size: 13px
				line-height: 1.3
				height: 47px
				display: flex
				align-items: center
		.direction
			text-align: center
			p
				color: #fff
				text-transform: uppercase
		.half1, .half2
			width: 50%
			float: left
			cursor: pointer
		.half2
			// background: url(../img/admin-page/Vert-Line.png) no-repeat right top

	.third
		padding: 0
		background-color: #c5be9e
		.over-wrap
			overflow-x: hidden
			overflow-y: auto
		#scrollbar::-webkit-scrollbar
			width: 4px
			background-color: #F5F5F5
		#scrollbar::-webkit-scrollbar-thumb
			background-color: #e1dfbc
			border: 2px solid #e1dfbc
		.wrap-block
			.img-wrapper
				float: left
				margin-right: 15px
				height: 47px
				line-height: 47px
			span
				float: left
				color: #35332a
				font-weight: bold
				font-size: 13px
				line-height: 1.3
				height: 47px
				display: flex
				align-items: center
		.direction
			text-align: center
			p
				color: #fff
				text-transform: uppercase
		.half1, .half2
			width: 50%
			float: left
			cursor: pointer
	.content
		margin-top: 25px
		padding: 0 0 50px 0
		.left-side
			background-color: #e6ebdb
			box-shadow: 0 3px 7px rgba(0,0,0,.5)
			padding: 0
		.right-side
			background-color: #fff
			padding: 15px 0
			.col-md-6
				padding-right: 0
			.main-content
				border-right: 1px solid #ccc
				ul.message-type
					padding: 0
					list-style: none
					li
						float: left
						margin: 0 10px 
						a
							color: #7f7f7f
							font-weight: bold
						a.message-type-active
							color: #4b6840
				ul.content-menu
					margin-top: 15px
					li
						cursor: pointer
						span.status-circle
							// border: 1px solid #000
							display: inline-block
							float: left
							width: 10px
							min-height: 10px
							margin-right: 10px
							margin-top: 5px
						span.status-circle.red
							background-color: red
						span.status-circle.yellow
							background-color: yellow
						span.status-circle.green
							background-color: green
						span.status-circle.blue
							background-color: #0099ff
							top: 20px
							position: relative
						span.status-circle.transp
							background-color: transparent
							border: 1px solid #ccc
							top: 20px
							position: relative
						.wrap-block
							padding: 0
							.img-wrapper
								float: left
								margin-right: 15px
								height: 57px
								line-height: 57px
							.text-wrapper
								float: left
								display: flex
								flex-direction: column
								align-items: flex-start
								line-height: 1.4
								p
									margin: 0
									font-size: 14px
								p.author_name
									font-weight: bold
									color: #000
									font-size: 15px
						&:hover
							background-color: #f5faf0
					li.selected-item
						background: #e8fad7
				.data-block
					margin-top: 15px
					label.data-info
						color: #000
						font-weight: normal
						font-family: "RobotoRegular" , $helvetica
						width: 25%
					input.data-name
						border: 1px solid #dadfd0
						color: #000
						font-size: 12px
						font-family: "RobotoRegular" , $helvetica
						padding: 2px 10px
						width: 70%
					label.data-select
						color: #000
						font-weight: normal
						font-family: "RobotoRegular" , $helvetica
						width: 35%
					select.age
						width: 18%
						padding: 0 5px
						margin-right: 2%
						font-size: 13px
						border: 1px solid #dadfd0
					label.gender
						float: left
				.mind
					padding: 0 25px
					margin-top: 25px
					p
						color: #000
						font-size: 17px
						font-weight: bold
						margin-bottom: 25px
						span
							color: #446944
					.grand-wrap
						width: 45%
						float: left
						ul.radio-list
							width: 100%
							li
								background: #e6ebdb
								float: none
								margin-top: 2.5px
								width: 100%
								label
								    padding-top: 10px
								    padding-bottom: 10px
								    text-transform: uppercase
								    color: #000
								    font-weight: bold
								.check
									border: 1px solid #000
									top: 10px
									left: 10px
								&:hover
									background: #e1dfbc
					.grand-wrap:nth-of-type(1)
						padding-left: 50px
						margin-right: 5%
					.grand-wrap:nth-of-type(2)
						padding-right: 50px	
					.horizontal-first
						padding-right: 50px
						margin-top: 10px
						margin-bottom: 10px
					.horizontal-second
						padding-left: 50px
						margin-top: 10px
						margin-bottom: 10px
					.img
						width: auto
						height: 80px
						line-height: 80px
						margin-top: 10px
						img
							cursor: pointer
					.grand-wrap.sublast
						padding-left: 50px
						width: 45%
						margin-right: 5%
					.grand-wrap.last
						padding-right: 50px
			ul.content-menu
				margin-bottom: 0
				margin-top: 35px
				padding: 0
				list-style: none
				li.live-pagination
					display: flex
					justify-content: center
					align-items: center
					padding-bottom: 0
					.material-left, .material-right
						cursor: pointer
						float: left
						font-size: 20px
						&:hover
							color: #d5d5d5
					.digits
						color: #5c5c5c
						float: left
						font-size: 13px
						margin: 0 20px
					.digits.active
						color: #e18769
				li
					border-top: 1px solid #ccc
					padding: 15px 10px
					a
						color: #444444
						display: block
						font-family: "RobotoRegular" , sans-serif
						font-size: 14px
						text-decoration: none
						span
							color: #000
							font-weight: bold
					&:hover
						background-color: #f5faf0
					&:last-child:hover
						background-color: #fff
			.result-content
				overflow-y: auto
				.author
					margin-top: 7px
					margin-bottom: 7px
					span.author-name
						color: #000
						font-family: "RobotoRegular" , sans-serif
						font-size: 15px
						font-weight: bold
				.status
					padding: 0
					.status-author
						font-weight: bold
						font-family: "RobotoRegular" , sans-serif
						display: flex
						justify-content: space-between
						align-items: center
						margin-top: 7px
						margin-bottom: 7px
				ul.message-type
					padding: 0
					list-style: none
					li
						float: left
						margin: 0 10px 
						a
							color: #7f7f7f
							font-weight: bold
						a.message-type-active
							color: #4b6840
				.head-top
					padding: 15px 10px
					border-top: 1px solid #ccc
					margin-top: 15px
					color: #000
					.title-main
						margin-top: 10px
						margin-bottom: 0
						font-weight: bold
				.content-wrapper
					p.text
						margin-top: 25px
						color: #000
						font-size: 15px
				p.title-text
					color: #000
					font-size: 15px
					font-weight: bold
					margin: 15px 0
				p.main-text
					color: #000
					font-size: 14px
					font-family: "RobotoRegular" , sans-serif
					margin: 15px 0 0 0
			.result-content.personal
				padding-left: 50px
				padding-right: 50px
				ul.radio-list
					width: 100%
					li
						width: 100%
					li.vera
						width: 50%
						margin: 15px 0
				.bott
					padding: 0
					margin-top: 25px
					button.button-place
						border: none
						background: #e6ebdb
						color: #abafa3
						margin-top: 25px
						padding: 10px 20px
						text-transform: uppercase
			.content-wrapper
				border-top: 1px solid #ccc
				h2.title-main
					margin-bottom: 20px
					color: #000
					line-height: 1.3
					font-size: 20px
					font-weight: bold
				.excerpt
					overflow-x: hidden
					overflow-y: auto
					height: 454px
					padding: 0
					color: #000
					font-size: 15px
					p.text
						margin-bottom: 25px
					p.fix
						min-height: 354px
						img
							width: 100%
				.editing
					border-top: 1px solid #ccc
					padding: 15px 10px
					padding-bottom: 0
					a
						color: #696969
						cursor: pointer
						font-weight: bold
						font-family: "RobotoRegular" , sans-serif
						margin-right: 25px
						text-decoration: none						
	.menu
		list-style: none
		padding: 0
		width: 100%
		li
			min-height: 50px
			line-height: 50px
			padding: 0 0 0 15px
			a
				display: block
				position: relative
				color: #50524c
				font-family: "RobotoRegular" , sans-serif
				font-weight: bold
				text-transform: uppercase
				font-size: 13px
				padding-left: 30px
				text-decoration: none
				.count-mess
					position: absolute
					right: 15px
					font-size: 11px
		li:nth-of-type(1)
			a	
				background: url(../img/admin-page/1.png) no-repeat left center
		li:nth-of-type(2)
			a	
				background: url(../img/admin-page/2.png) no-repeat left center
		li:nth-of-type(3)
			a	
				background: url(../img/admin-page/3.png) no-repeat left center
		li:nth-of-type(4)
			a	
				background: url(../img/admin-page/4.png) no-repeat left center
		li:nth-of-type(5)
			a	
				background: url(../img/admin-page/5.png) no-repeat left center
		li:nth-of-type(6)
			a	
				background: url(../img/admin-page/6.png) no-repeat left center
		li:nth-of-type(7)
			a	
				background: url(../img/admin-page/7.png) no-repeat left center
	li.focus
		position: relative
		display: block
		background: #fff
	#live-search
		background-color: #fff!important
		border: none
		color: #666666
		font-family: "RobotoRegular" , sans-serif
		font-weight: normal
		font-size: 12px
		position: absolute
		top: 0
		left: 100%
		padding: 0 10px
		width: 375px
		input
			background: url(../img/admin-page/search.png) no-repeat right center
			border: none
			width: 100%
			padding-left: 25px
			height: 50px
		.wrap-block
			border-top: 1px solid #ccc
			padding: 15px 25px
			.img-wrapper
				float: left
				margin-right: 15px
			a
				text-transform: none
			span
				float: left
				color: #000
				font-weight: bold
				font-size: 13px
				line-height: 1.3
			&:hover
				background-color: #f5faf0
			&:last-child:hover
				background-color: #fff
			.live-pagination
				display: flex
				justify-content: center
				align-items: center
				.material-left, .material-right
					cursor: pointer
					float: left
					font-size: 20px
					&:hover
						color: #d5d5d5
				.digits
					color: #5c5c5c
					float: left
					font-size: 13px
					margin: 0 20px
				.digits.active
					color: #e18769


@import "media"